<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.DiseaseArticleDetailTextMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.DiseaseArticleDetailText">
    <!-- @mbg.generated -->
    <id column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="full_article" jdbcType="VARCHAR" property="fullArticle" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!-- @mbg.generated -->
    delete from kh_disease_article_detail_text
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.DiseaseArticleDetailText">
    <!-- @mbg.generated -->
    insert into kh_disease_article_detail_text (article_id, full_article, create_time, 
      update_time)
    values (#{articleId,jdbcType=BIGINT}, #{fullArticle,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.DiseaseArticleDetailText">
    <!-- @mbg.generated -->
    update kh_disease_article_detail_text
    set full_article = #{fullArticle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select article_id, full_article, create_time, update_time
    from kh_disease_article_detail_text
    where article_id = #{articleId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select article_id, full_article, create_time, update_time
    from kh_disease_article_detail_text
  </select>
</mapper>