<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.DiseaseMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.Disease">
    <!-- @mbg.generated -->
    <id column="disease_id" jdbcType="BIGINT" property="diseaseId" />
    <result column="name_english" jdbcType="VARCHAR" property="nameEnglish" />
    <result column="name_chinese" jdbcType="VARCHAR" property="nameChinese" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="spider_job_id" jdbcType="BIGINT" property="spiderJobId" />
    <result column="check_status" jdbcType="SMALLINT" property="checkStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!-- @mbg.generated -->
    delete from kh_disease
    where disease_id = #{diseaseId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.Disease">
    <!-- @mbg.generated -->
    insert into kh_disease (disease_id, name_english, name_chinese, 
      category_id, source_url, spider_job_id, 
      check_status, create_time, update_time
      )
    values (#{diseaseId,jdbcType=BIGINT}, #{nameEnglish,jdbcType=VARCHAR}, #{nameChinese,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER}, #{sourceUrl,jdbcType=VARCHAR}, #{spiderJobId,jdbcType=BIGINT}, 
      #{checkStatus,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.Disease">
    <!-- @mbg.generated -->
    update kh_disease
    set name_english = #{nameEnglish,jdbcType=VARCHAR},
      name_chinese = #{nameChinese,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      spider_job_id = #{spiderJobId,jdbcType=BIGINT},
      check_status = #{checkStatus,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where disease_id = #{diseaseId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select disease_id, name_english, name_chinese, category_id, source_url, spider_job_id, 
    check_status, create_time, update_time
    from kh_disease
    where disease_id = #{diseaseId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select disease_id, name_english, name_chinese, category_id, source_url, spider_job_id, 
    check_status, create_time, update_time
    from kh_disease
  </select>

  <select id="selectByNamePrefix" resultMap="BaseResultMap">
    select disease_id, name_english, name_chinese, category_id, source_url, spider_job_id,
    check_status, create_time, update_time
    from kh_disease
    where
    <if test="column == 'name_english'">
      LOWER(name_english) like #{value}
    </if>
    <if test="column == 'name_chinese'">
      LOWER(name_chinese) like #{value}
    </if>
    limit 20
  </select>
</mapper>