<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.DiseaseSymptomItemsMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.DiseaseSymptomItems">
    <!-- @mbg.generated -->
    <id column="disease_id" jdbcType="BIGINT" property="diseaseId" />
    <id column="symptom_index" jdbcType="INTEGER" property="symptomIndex" />
    <result column="disease_name" jdbcType="VARCHAR" property="diseaseName" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="symptom" jdbcType="VARCHAR" property="symptom" />
    <result column="relationship" jdbcType="VARCHAR" property="relationship" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!-- @mbg.generated -->
    delete from kh_disease_symptom_items
    where disease_id = #{diseaseId,jdbcType=BIGINT}
      and symptom_index = #{symptomIndex,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.DiseaseSymptomItems">
    <!-- @mbg.generated -->
    insert into kh_disease_symptom_items (disease_id, symptom_index, disease_name, 
      language, symptom, relationship, 
      create_time, update_time)
    values (#{diseaseId,jdbcType=BIGINT}, #{symptomIndex,jdbcType=INTEGER}, #{diseaseName,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{symptom,jdbcType=VARCHAR}, #{relationship,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.DiseaseSymptomItems">
    <!-- @mbg.generated -->
    update kh_disease_symptom_items
    set disease_name = #{diseaseName,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      symptom = #{symptom,jdbcType=VARCHAR},
      relationship = #{relationship,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where disease_id = #{diseaseId,jdbcType=BIGINT}
      and symptom_index = #{symptomIndex,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select disease_id, symptom_index, disease_name, language, symptom, relationship, 
    create_time, update_time
    from kh_disease_symptom_items
    where disease_id = #{diseaseId,jdbcType=BIGINT}
      and symptom_index = #{symptomIndex,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select disease_id, symptom_index, disease_name, language, symptom, relationship, 
    create_time, update_time
    from kh_disease_symptom_items
  </select>
</mapper>