<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.DrugInteractionMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.DrugInteraction">
    <id column="drug_id1" jdbcType="BIGINT" property="drugId1" />
    <id column="drug_id2" jdbcType="BIGINT" property="drugId2" />
    <id column="drug_id3" jdbcType="BIGINT" property="drugId3" />
    <result column="severity_level" jdbcType="SMALLINT" property="severityLevel" />
    <result column="mechanism" jdbcType="VARCHAR" property="mechanism" />
    <result column="source_site" jdbcType="VARCHAR" property="sourceSite" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.DrugInteraction">
    insert into kh_drug_interaction (drug_id1, drug_id2, drug_id3, severity_level,
                                      mechanism, source_site)
    values (#{drugId1,jdbcType=BIGINT}, #{drugId2,jdbcType=BIGINT}, #{drugId3,jdbcType=BIGINT},
            #{severityLevel,jdbcType=SMALLINT}, #{mechanism,jdbcType=VARCHAR},
            #{sourceSite,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.DrugInteraction">
    update kh_drug_interaction
    set severity_level = #{severityLevel,jdbcType=SMALLINT},
        mechanism = #{mechanism,jdbcType=VARCHAR},
        update_time = now()
    where drug_id1 = #{drugId1,jdbcType=BIGINT} and drug_id2 = #{drugId2,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select drug_id1, drug_id2, drug_id3, severity_level,
            mechanism, source_site, update_time
    from kh_drug_interaction
    where drug_id1 = #{drugId1,jdbcType=BIGINT}
      and drug_id2 = #{drugId2,jdbcType=BIGINT}
  </select>

  <select id="queryOneDrugInScope" resultMap="BaseResultMap">
    select drug_id1, drug_id2, drug_id3, severity_level,
        mechanism, source_site, update_time
    from kh_drug_interaction
    where
      (drug_id1 = #{drugId,jdbcType=BIGINT} and drug_id2 in
      <foreach item="item" collection="drug2IdList" separator="," open="(" close=")" index="">
          #{item}
      </foreach>)
      or
      (drug_id2 = #{drugId,jdbcType=BIGINT} and drug_id1 in
      <foreach item="item" collection="drug2IdList" separator="," open="(" close=")" index="">
          #{item}
      </foreach>)
  </select>
</mapper>