<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.DrugTakeinfoMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.DrugTakeinfo">
    <!-- @mbg.generated -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_drug_id" jdbcType="BIGINT" property="userDrugId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="schedule_daytime" jdbcType="TIMESTAMP" property="scheduleDaytime" />
    <result column="take_time" jdbcType="TIMESTAMP" property="takeTime" />
    <result column="quantity" jdbcType="NUMERIC" property="quantity" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="ResultMapExt" type="com.knowihealth.healthWeb.domain.DrugTakeinfo" extends="BaseResultMap">
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="drug_form" jdbcType="SMALLINT" property="drugForm" />
    <result column="drug_unit_type" jdbcType="SMALLINT" property="drugUnitType" />
    <result column="drug_unit_value" jdbcType="INTEGER" property="drugUnitValue" />
  </resultMap>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.DrugTakeinfo"
          keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    <!-- @mbg.generated -->
    insert into kh_drug_takeinfo (user_drug_id, user_id,
      schedule_daytime, take_time, quantity, status, notes,
      create_time, update_time)
    values (#{userDrugId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
      #{scheduleDaytime,jdbcType=TIMESTAMP}, #{takeTime,jdbcType=TIMESTAMP},
      #{quantity,jdbcType=NUMERIC}, #{status,jdbcType=SMALLINT},
      #{notes,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch" parameterType="java.util.List"
          keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
    insert into kh_drug_takeinfo (user_drug_id, user_id,
    schedule_daytime, take_time, quantity, status, notes)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.userDrugId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT},
      #{item.scheduleDaytime,jdbcType=TIMESTAMP}, #{item.takeTime,jdbcType=TIMESTAMP},
      #{item.quantity,jdbcType=NUMERIC}, #{item.status,jdbcType=SMALLINT},
      #{item.notes,jdbcType=VARCHAR} )
    </foreach>
  </insert>

  <update id="updateStatusByIds">
    update kh_drug_takeinfo
    set
      take_time = now(),
      status = #{status,jdbcType=SMALLINT},
      update_time = now()
    where user_id = #{userId,jdbcType=BIGINT}
    and id IN
    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_drug_id, user_id, schedule_daytime, take_time, quantity, status,
    notes, create_time, update_time
    from kh_drug_takeinfo
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByDateRange" resultMap="BaseResultMap">
    select id, user_drug_id, user_id, schedule_daytime, take_time, quantity, status,
    notes, create_time, update_time
    from kh_drug_takeinfo
    where user_id = #{userId,jdbcType=BIGINT}
    <if test="userDrugId != null">
      and user_drug_id = #{userDrugId,jdbcType=BIGINT}
    </if>
    and schedule_daytime &gt;= #{startDate,jdbcType=TIMESTAMP}
    and schedule_daytime &lt;= #{endDate,jdbcType=TIMESTAMP}
    order by schedule_daytime
  </select>

  <select id="selectByScheduleTime" resultMap="BaseResultMap">
    select id, user_drug_id, user_id, schedule_daytime, take_time, quantity,
    status, notes, create_time, update_time
    from kh_drug_takeinfo
    where user_id = #{userId,jdbcType=BIGINT}
    and schedule_daytime = #{scheduleDaytime,jdbcType=TIMESTAMP}
  </select>

  <select id="selectLastTakeninfoBeforeSomeDay" resultMap="BaseResultMap">
    select id, user_drug_id, user_id, schedule_daytime, take_time, quantity,
    status, notes, create_time, update_time
    from kh_drug_takeinfo
    where user_drug_id = #{userDrugId,jdbcType=BIGINT}
    and status in(2, 3, 4)
    and schedule_daytime &gt; #{someDay,jdbcType=TIMESTAMP}
    order by schedule_daytime desc limit 1
  </select>

  <select id="countTakenNumber" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(1)
    from kh_drug_takeinfo
    where user_drug_id = #{userDrugId,jdbcType=BIGINT}
    and status != 1
  </select>

  <select id="selectScheduleDatesFromDate" resultType="java.util.Date">
    select schedule_daytime from kh_drug_takeinfo
    where user_id = #{userId,jdbcType=BIGINT}
    and schedule_daytime &gt;= #{fromDate,jdbcType=TIMESTAMP}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from kh_drug_takeinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserDrugId" parameterType="java.lang.Long">
    delete from kh_drug_takeinfo
    where user_drug_id = #{userDrugId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteUnTakenByDrugIdFromTime">
    delete from kh_drug_takeinfo
    where user_drug_id = #{userDrugId,jdbcType=BIGINT} and status = 1
    and schedule_daytime &gt; #{someTime,jdbcType=TIMESTAMP}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from kh_drug_takeinfo
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
</mapper>