<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.DrugRemindTimeMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.DrugRemindTime">
    <!-- @mbg.generated -->
    <result column="user_drug_id" jdbcType="BIGINT" property="userDrugId" />
    <result column="schedule_time" jdbcType="TIME" property="scheduleTime" />
    <result column="quantity" jdbcType="NUMERIC" property="quantity" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.DrugRemindTime">
    <!-- @mbg.generated -->
    insert into kh_drug_remind_time (user_drug_id, schedule_time, quantity)
    values ( #{userDrugId,jdbcType=BIGINT}, #{scheduleTime,jdbcType=TIME},
      #{quantity,jdbcType=NUMERIC} )
  </insert>

  <select id="selectByUserDrugId" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select user_drug_id, schedule_time, quantity, create_time, update_time
    from kh_drug_remind_time
    where user_drug_id=#{userDrugId,jdbcType=BIGINT} order by schedule_time
  </select>

  <select id="selectByUserDrugIdArr" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select user_drug_id, schedule_time, quantity, create_time, update_time
    from kh_drug_remind_time
    where user_drug_id in
    <foreach item="item" collection="userDrugIdList" separator="," open="(" close=")" index="">
      #{item}
    </foreach>
    order by schedule_time
  </select>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into kh_drug_remind_time (user_drug_id, schedule_time, quantity)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.userDrugId,jdbcType=BIGINT},
       #{item.scheduleTime,jdbcType=TIME}, #{item.quantity,jdbcType=NUMERIC} )
    </foreach>
  </insert>

  <delete id="deleteByUserDrugId" parameterType="java.lang.Long">
    delete from kh_drug_remind_time
    where user_drug_id=#{userDrugId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from kh_drug_remind_time
    where user_drug_id in
    (select id from kh_user_drug where user_id=#{userId,jdbcType=BIGINT})
  </delete>
</mapper>