<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.ForumUserSyncMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.ForumUserSync">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_id_forum" jdbcType="BIGINT" property="userIdForum" />
    <result column="sync_action" jdbcType="VARCHAR" property="syncAction" />
    <result column="sync_status" jdbcType="SMALLINT" property="syncStatus" />
    <result column="sync_message" jdbcType="VARCHAR" property="syncMessage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <delete id="deleteByUserId">
    delete from kh_forum_user_sync
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select user_id, user_id_forum, sync_action, sync_status, sync_message, create_time
    from kh_forum_user_sync
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.ForumUserSync">
    insert into kh_forum_user_sync (user_id, user_id_forum, sync_action, sync_status, sync_message)
    values (#{userId,jdbcType=BIGINT}, #{userIdForum,jdbcType=BIGINT}, #{syncAction,jdbcType=VARCHAR},
        #{syncStatus,jdbcType=SMALLINT}, #{syncMessage,jdbcType=VARCHAR})
  </insert>

</mapper>