<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.SpiderSourceSiteMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.SpiderSourceSite">
    <!-- @mbg.generated -->
    <id column="source_sitetag" jdbcType="VARCHAR" property="sourceSitetag" />
    <id column="resource_type" jdbcType="SMALLINT" property="resourceType" />
    <id column="site_url" jdbcType="VARCHAR" property="siteUrl" />
    <result column="site_entrance_url" jdbcType="VARCHAR" property="siteEntranceUrl" />
    <result column="source_page_pattern" jdbcType="VARCHAR" property="sourcePagePattern" />
    <result column="extract_source_rule" jdbcType="VARCHAR" property="extractSourceRule" />
    <result column="last_scan_date" jdbcType="TIMESTAMP" property="lastScanDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!-- @mbg.generated -->
    delete from kh_spider_source_site
    where source_sitetag = #{sourceSitetag,jdbcType=VARCHAR}
      and resource_type = #{resourceType,jdbcType=SMALLINT}
      and site_url = #{siteUrl,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.SpiderSourceSite">
    <!-- @mbg.generated -->
    insert into kh_spider_source_site (source_sitetag, resource_type, site_url, 
      site_entrance_url, source_page_pattern, extract_source_rule, 
      last_scan_date)
    values (#{sourceSitetag,jdbcType=VARCHAR}, #{resourceType,jdbcType=SMALLINT}, #{siteUrl,jdbcType=VARCHAR}, 
      #{siteEntranceUrl,jdbcType=VARCHAR}, #{sourcePagePattern,jdbcType=VARCHAR}, #{extractSourceRule,jdbcType=VARCHAR}, 
      #{lastScanDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.SpiderSourceSite">
    <!-- @mbg.generated -->
    update kh_spider_source_site
    set site_entrance_url = #{siteEntranceUrl,jdbcType=VARCHAR},
      source_page_pattern = #{sourcePagePattern,jdbcType=VARCHAR},
      extract_source_rule = #{extractSourceRule,jdbcType=VARCHAR},
      last_scan_date = #{lastScanDate,jdbcType=TIMESTAMP}
    where source_sitetag = #{sourceSitetag,jdbcType=VARCHAR}
      and resource_type = #{resourceType,jdbcType=SMALLINT}
      and site_url = #{siteUrl,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select source_sitetag, resource_type, site_url, site_entrance_url, source_page_pattern, 
    extract_source_rule, last_scan_date
    from kh_spider_source_site
    where source_sitetag = #{sourceSitetag,jdbcType=VARCHAR}
      and resource_type = #{resourceType,jdbcType=SMALLINT}
      and site_url = #{siteUrl,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select source_sitetag, resource_type, site_url, site_entrance_url, source_page_pattern, 
    extract_source_rule, last_scan_date
    from kh_spider_source_site
  </select>
</mapper>