<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.SpiderJobItemsMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.SpiderJobItems">
    <!-- @mbg.generated -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_type" jdbcType="SMALLINT" property="resourceType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="site_url" jdbcType="VARCHAR" property="siteUrl" />
    <result column="source_sitetag" jdbcType="VARCHAR" property="sourceSitetag" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="spider_time" jdbcType="TIMESTAMP" property="spiderTime" />
    <result column="spider_end_time" jdbcType="TIMESTAMP" property="spiderEndTime" />
    <result column="hash_article" jdbcType="VARCHAR" property="hashArticle" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="spider_log" jdbcType="VARCHAR" property="spiderLog" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!-- @mbg.generated -->
    delete from kh_spider_job_items
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.SpiderJobItems">
    <!-- @mbg.generated -->
    insert into kh_spider_job_items (id, resource_type, name, 
      source_url, site_url, source_sitetag, 
      language, status, spider_time, 
      spider_end_time, hash_article, create_time, 
      update_time, job_id, spider_log
      )
    values (#{id,jdbcType=BIGINT}, #{resourceType,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{siteUrl,jdbcType=VARCHAR}, #{sourceSitetag,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{spiderTime,jdbcType=TIMESTAMP}, 
      #{spiderEndTime,jdbcType=TIMESTAMP}, #{hashArticle,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{jobId,jdbcType=BIGINT}, #{spiderLog,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.SpiderJobItems">
    <!-- @mbg.generated -->
    update kh_spider_job_items
    set resource_type = #{resourceType,jdbcType=SMALLINT},
      name = #{name,jdbcType=VARCHAR},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      site_url = #{siteUrl,jdbcType=VARCHAR},
      source_sitetag = #{sourceSitetag,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      spider_time = #{spiderTime,jdbcType=TIMESTAMP},
      spider_end_time = #{spiderEndTime,jdbcType=TIMESTAMP},
      hash_article = #{hashArticle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_id = #{jobId,jdbcType=BIGINT},
      spider_log = #{spiderLog,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select id, resource_type, name, source_url, site_url, source_sitetag, language, status, 
    spider_time, spider_end_time, hash_article, create_time, update_time, job_id, spider_log
    from kh_spider_job_items
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select id, resource_type, name, source_url, site_url, source_sitetag, language, status, 
    spider_time, spider_end_time, hash_article, create_time, update_time, job_id, spider_log
    from kh_spider_job_items
  </select>
</mapper>