<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.SymptomsMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.Symptoms">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="prop_inpart" jdbcType="VARCHAR" property="propInpart" />
    <result column="source_site" jdbcType="VARCHAR" property="sourceSite" />
    <result column="source_code" jdbcType="VARCHAR" property="sourceCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.Symptoms"
          keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into kh_symptoms_collection (name, code, descript, prop_inpart, source_site,
                                        source_code)
    values ( #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{descript,jdbcType=VARCHAR}, #{propInpart,jdbcType=VARCHAR},
      #{sourceSite,jdbcType=VARCHAR}, #{sourceCode,jdbcType=VARCHAR})
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, code, descript, prop_inpart, source_site, source_code, create_time
    from kh_symptoms_collection
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByNamePrefix" resultMap="BaseResultMap">
    select id, name, code, descript, prop_inpart, source_site, source_code, create_time
    from kh_symptoms_collection
    where LOWER(name) like #{name}
    limit 20
  </select>
</mapper>