<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.SystemMessageMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.UserMessage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="is_valid" jdbcType="BOOLEAN" property="isValid" />
    <result column="show_type" jdbcType="SMALLINT" property="showType" />
    <result column="mess_body" jdbcType="VARCHAR" property="messBody" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.UserMessage"
          keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into kh_system_message (title, is_valid, show_type, mess_body, expire_time)
    values (#{title,jdbcType=VARCHAR}, #{isValid,jdbcType=BOOLEAN},
            #{showType,jdbcType=SMALLINT}, #{messBody,jdbcType=VARCHAR},
            #{expireTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="selectByPK" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, title, is_valid, show_type, mess_body, expire_time, create_time, update_time
    from kh_system_message
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select id, title, is_valid, show_type, mess_body, expire_time, create_time, update_time
    from kh_system_message
    <where>
      <if test="showInValid == false ">
        AND is_valid = true
      </if>
      <if test="showExpiredData == false and expireTime != null ">
        AND (expire_time is null or expire_time > #{expireTime,jdbcType=TIMESTAMP})
      </if>
    </where>
  </select>

  <update id="updateByPK" parameterType="com.knowihealth.healthWeb.domain.UserMessage">
    update kh_system_message
    set
      <if test="title != null and title != '' ">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=BOOLEAN},
      </if>
      <if test="messBody != null and messBody != '' ">
        mess_body = #{messBody,jdbcType=SMALLINT},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteByPK" parameterType="java.lang.Long">
    delete from kh_system_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>