<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.TrackingGenerateStatusMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.TrackingGenerateStatus">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="tracking_day" jdbcType="TIMESTAMP" property="trackingDay" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="record_number" jdbcType="INTEGER" property="recordNumber" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectByPK" resultMap="BaseResultMap">
    select user_id, tracking_day, status, record_number, job_id,
    notes, create_time, update_time
    from kh_tracking_generate_status
    where user_id = #{userId,jdbcType=BIGINT} and
    tracking_day = #{trackingDay,jdbcType=TIMESTAMP}
  </select>

  <select id="selectRecordsByDays" resultMap="BaseResultMap">
    select user_id, tracking_day, status, record_number, job_id,
    notes, create_time, update_time
    from kh_tracking_generate_status
    where user_id = #{userId,jdbcType=BIGINT} and tracking_day in
    <foreach item="item" collection="queryDayList" separator="," open="(" close=")" index="">
      #{item}
    </foreach>
  </select>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into kh_tracking_generate_status (user_id, tracking_day, status,
                record_number, job_id, notes)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.userId,jdbcType=BIGINT}, #{item.trackingDay,jdbcType=TIMESTAMP},
      #{item.status,jdbcType=SMALLINT}, #{item.recordNumber,jdbcType=INTEGER},
      #{item.jobId,jdbcType=BIGINT}, #{item.notes,jdbcType=VARCHAR} )
    </foreach>
  </insert>

  <update id="updateByPK" parameterType="com.knowihealth.healthWeb.domain.TrackingGenerateStatus">
    update kh_tracking_generate_status
    set
    <if test="status != null">
      status = #{status,jdbcType=SMALLINT},
    </if>
    <if test="notes != null">
      notes = #{notes,jdbcType=VARCHAR},
    </if>
    <if test="record_number != null">
      record_number = #{recordNumber,jdbcType=NUMERIC},
    </if>
    update_time = now()
    where user_id = #{userId,jdbcType=BIGINT} and
          tracking_day = #{trackingDay,jdbcType=TIMESTAMP}
  </update>

  <delete id="deleteByPK" >
    delete from kh_tracking_generate_status
      where user_id = #{userId,jdbcType=BIGINT} and
            tracking_day = #{trackingDay,jdbcType=TIMESTAMP}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from kh_tracking_generate_status
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserDays">
    delete from kh_tracking_generate_status
    where user_id = #{userId,jdbcType=BIGINT}
    and tracking_day IN
    <foreach item="day" index="index" collection="dayItems" open="(" separator="," close=")">
      #{day}
    </foreach>
  </delete>
</mapper>