<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.User">
    <!-- @mbg.generated -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="gender" jdbcType="SMALLINT" property="gender" />
    <result column="birth_year" jdbcType="SMALLINT" property="birthYear" />
    <result column="locale" jdbcType="VARCHAR" property="locale" />
    <result column="timezone" jdbcType="VARCHAR" property="timezone" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="token_seed" jdbcType="VARCHAR" property="tokenSeed" />
    <result column="verify_status" jdbcType="SMALLINT" property="verifyStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.User"
          keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    <!-- @mbg.generated -->
    insert into kh_user (name, email,
      gender, birth_year, locale,
      timezone, lang, country, password, token_seed, verify_status)
    values (#{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{gender,jdbcType=SMALLINT}, #{birthYear,jdbcType=SMALLINT}, #{locale,jdbcType=VARCHAR},
      #{timezone,jdbcType=VARCHAR}, #{lang,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{tokenSeed,jdbcType=VARCHAR}, #{verifyStatus,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.User">
    <!-- @mbg.generated -->
    update kh_user
    set
      <if test="name != null and name != '' ">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=SMALLINT},
      </if>
      <if test="birthYear != null">
        birth_year = #{birthYear,jdbcType=SMALLINT},
      </if>
      <if test="locale != null and locale != '' ">
        locale = #{locale,jdbcType=VARCHAR},
      </if>
      <if test="timezone != null and timezone != '' ">
      timezone = #{timezone,jdbcType=VARCHAR},
      </if>
      <if test="lang != null and lang != '' ">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="country != null and country != '' ">
        country = #{country,jdbcType=VARCHAR},
      </if>
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateVerifyStatus" >
    update kh_user
    set verify_status = #{verifyStatus,jdbcType=SMALLINT},
    update_time = now()
    where id = #{userId,jdbcType=BIGINT}
  </update>

  <update id="updateTokenSeed" parameterType="com.knowihealth.healthWeb.domain.User">
    update kh_user
    set token_seed = #{tokenSeed,jdbcType=VARCHAR},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updatePassword" parameterType="com.knowihealth.healthWeb.domain.User">
    update kh_user
    set password = #{password,jdbcType=VARCHAR},
    token_seed = #{tokenSeed,jdbcType=VARCHAR},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, email, gender, birth_year, locale, timezone, lang, country, password, token_seed,
    verify_status, create_time, update_time
    from kh_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, email, gender, birth_year, locale, timezone, lang, country, password, token_seed,
    verify_status, create_time, update_time
    from kh_user
  </select>
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, email, gender, birth_year, locale, timezone, lang, country, password, token_seed,
    verify_status, create_time, update_time
    from kh_user
    where email = #{email,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPK" parameterType="java.lang.Long">
    delete from kh_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>