<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.UserMeasureTrackMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.UserMeasureTrack">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="measure_type" jdbcType="SMALLINT" property="measureType" />
    <result column="value1" jdbcType="NUMERIC" property="value1" />
    <result column="value2" jdbcType="NUMERIC" property="value2" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="happen_time" jdbcType="TIMESTAMP" property="happenTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <select id="selectByPK" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select  id, user_id, name, measure_type, value1, value2, notes,
            happen_time, create_time, update_time
    from kh_user_measure_track
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByDateRange" resultMap="BaseResultMap">
    select  id, user_id, name, measure_type, value1, value2,
            happen_time, create_time, update_time
    from kh_user_measure_track
    where user_id = #{userId,jdbcType=BIGINT}
    and happen_time &gt;= #{startDate,jdbcType=TIMESTAMP}
    and happen_time &lt;= #{endDate,jdbcType=TIMESTAMP}
    order by happen_time
  </select>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.UserMeasureTrack"
          keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into kh_user_measure_track (user_id, name, measure_type, value1, value2,
                                       notes, happen_time)
    values (#{userId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
            #{measureType,jdbcType=SMALLINT}, #{value1,jdbcType=NUMERIC},
            #{value2,jdbcType=NUMERIC}, #{notes,jdbcType=VARCHAR},
            #{happenTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPK">
    update kh_user_measure_track
    set
      value1 = #{value1,jdbcType=NUMERIC},
      value2 = #{value2,jdbcType=NUMERIC},
      notes = #{notes,jdbcType=VARCHAR},
      happen_time = #{happenTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteByPK" parameterType="java.lang.Long">
    delete from kh_user_measure_track
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from kh_user_measure_track
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
</mapper>