<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.UserDiseaseDetailMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.UserDiseaseDetail">
    <!-- @mbg.generated -->
    <id column="user_disease_id" jdbcType="BIGINT" property="userDiseaseId" />
    <result column="illness" jdbcType="VARCHAR" property="illness" />
    <result column="treatment" jdbcType="VARCHAR" property="treatment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.UserDiseaseDetail">
    <!-- @mbg.generated -->
    insert into kh_user_disease_detail (user_disease_id, illness, treatment)
    values (#{userDiseaseId,jdbcType=BIGINT},
            #{illness,jdbcType=VARCHAR}, #{treatment,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.UserDiseaseDetail">
    <!-- @mbg.generated -->
    update kh_user_disease_detail
    set
    <if test="illness != null">
        illness = #{illness,jdbcType=VARCHAR},
    </if>
    <if test="treatment != null">
        treatment = #{treatment,jdbcType=VARCHAR},
    </if>
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_disease_id = #{userDiseaseId,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @mbg.generated -->
    select user_disease_id, illness, treatment, create_time, update_time
    from kh_user_disease_detail
    where user_disease_id = #{userDiseaseId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!-- @mbg.generated -->
    delete from kh_user_disease_detail
    where user_disease_id = #{userDiseaseId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from kh_user_disease_detail
    where user_disease_id in (select id from kh_user_disease where user_id = #{userId,jdbcType=BIGINT})
  </delete>

</mapper>