<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.UserDeviceMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.UserDevice">
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="os_name" jdbcType="VARCHAR" property="osName" />
    <result column="os_version" jdbcType="VARCHAR" property="osVersion" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.UserDevice">
    insert into kh_user_device (device_id, os_name, os_version,
                                user_id, ip_address)
    values ( #{deviceId,jdbcType=VARCHAR}, #{osName,jdbcType=VARCHAR},
             #{osVersion,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
             #{ipAddress,jdbcType=VARCHAR} )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.UserDevice">
    update kh_user_device
    set
      <if test="osName != null">
          os_name = #{osName,jdbcType=VARCHAR},
      </if>
      <if test="osVersion != null">
          os_version = #{osVersion,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
          user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="ipAddress != null">
          ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      update_time = now()
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select device_id, os_name, os_version, user_id, ip_address,
            create_time, update_time
    from kh_user_device
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kh_user_device
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from kh_user_device
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
</mapper>