<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.UserSymptomTrackMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.UserSymptomTrack">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_symptom_ids" jdbcType="VARCHAR" property="userSymptomIds" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="symptoms_name" jdbcType="VARCHAR" property="symptomsName" />
    <result column="during_time" jdbcType="INTEGER" property="duringTime" />
    <result column="degree" jdbcType="INTEGER" property="degree" />
    <result column="happen_time" jdbcType="TIMESTAMP" property="happenTime" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectByDateRange" resultMap="BaseResultMap">
    select  id, user_symptom_ids, user_id, symptoms_name, during_time,
            degree, happen_time, create_time, update_time
    from kh_user_symptom_track
    where user_id = #{userId,jdbcType=BIGINT}
    and happen_time &gt;= #{startDate,jdbcType=TIMESTAMP}
    and happen_time &lt;= #{endDate,jdbcType=TIMESTAMP}
    order by happen_time
  </select>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.UserSymptomTrack"
          keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into kh_user_symptom_track (user_symptom_ids, user_id, symptoms_name,
      during_time, degree, happen_time, notes)
    values ( #{userSymptomIds,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
      #{symptomsName,jdbcType=VARCHAR}, #{duringTime,jdbcType=INTEGER},
      #{degree,jdbcType=INTEGER}, #{happenTime,jdbcType=TIMESTAMP},
      #{notes,jdbcType=VARCHAR} )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.knowihealth.healthWeb.domain.UserSymptomTrack">
    update kh_user_symptom_track
    set
      <if test="userSymptomIds != null">
        user_symptom_ids = #{userSymptomIds,jdbcType=VARCHAR},
      </if>
      <if test="symptomsName != null">
        symptoms_name = #{symptomsName,jdbcType=VARCHAR},
      </if>
      <if test="duringTime != null">
        during_time = #{duringTime,jdbcType=INTEGER},
      </if>
      <if test="degree != null">
        degree = #{degree,jdbcType=INTEGER},
      </if>
      <if test="happenTime != null">
        happen_time = #{happenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_symptom_ids, user_id, symptoms_name, during_time,
        degree, happen_time, notes, create_time, update_time
    from kh_user_symptom_track
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select id, user_symptom_ids, user_id, symptoms_name, during_time,
        degree, happen_time, notes, create_time, update_time
    from kh_user_symptom_track
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from kh_user_symptom_track
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from kh_user_symptom_track
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
</mapper>