<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowihealth.healthWeb.mapper.UserCapabilityMapper">
  <resultMap id="BaseResultMap" type="com.knowihealth.healthWeb.domain.UserCapability">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="capacity_name" jdbcType="VARCHAR" property="capacityName" />
    <result column="enabled" jdbcType="BOOLEAN" property="enabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectByPK" resultMap="BaseResultMap">
    select user_id, capacity_name, enabled, create_time, update_time
    from kh_user_capability
    where user_id = #{userId,jdbcType=BIGINT}
      and capacity_name = #{capacityName,jdbcType=VARCHAR}
  </select>

  <select id="selectByUser" resultMap="BaseResultMap">
        select user_id, capacity_name, enabled, create_time, update_time
        from kh_user_capability
        where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.knowihealth.healthWeb.domain.UserCapability">
    insert into kh_user_capability (user_id, capacity_name, enabled)
    values (#{userId,jdbcType=BIGINT}, #{capacityName,jdbcType=VARCHAR}, #{enabled,jdbcType=BOOLEAN})
  </insert>

  <update id="updateCapacityByPK" parameterType="com.knowihealth.healthWeb.domain.UserCapability">
    update kh_user_capability
    set enabled = #{enabled,jdbcType=BOOLEAN}, update_time = now()
    where user_id = #{userId,jdbcType=BIGINT}
    and capacity_name = #{capacityName,jdbcType=VARCHAR}
  </update>

  <delete id="deleteByPK">
    delete from kh_user_capability
    where user_id = #{userId,jdbcType=BIGINT}
    and capacity_name = #{capacityName,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUser" parameterType="java.lang.Long">
    delete from kh_user_capability
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>

</mapper>